* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "PT Sans", sans-serif;
}

header {
  color: #dce4e8;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 28px 90px;
  justify-content: space-between;
}

.nav li {
  list-style: none;
  font-size: 18px;
}

.fa-house,
.fa-dumbbell,
.fa-chart-bar {
  margin-right: 5px;
}

.nav li:hover {
  color: #ffc851;
}

.nav a {
  color: #dce4e8;
}
/* Content */

#info-form div {
  font-size: 20px;
  margin: 5px;
}

.info-save {
  font-size: 20px;
}

/* workout page */
